# Python virtual environments
venv/
env/
.venv/
.env/
.python-version

# Python cache files
src/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Lock file
poetry.lock

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Poetry settings
poetry.lock

# Cache
.coverage
.flake8
.nox
.mypy_cache
.ruff_cache

# Sphynx build folder
_build/